td{
	font-size: 26px;
	font-family: sans-serif;
}
h1{

}
body{


	background:url("https://i.stack.imgur.com/nItQK.png") ;
	background-repeat: no-repeat;
	background-size: cover;



}
